<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th><%= ZomekiLogin::User.human_attribute_name :account %></th>
    <th style="text-align: left; width: 80px;"><%= ZomekiLogin::User.human_attribute_name :state %></th>
    <th style="text-align: left; width: 150px;"><%= ZomekiLogin::User.human_attribute_name :updated_at %></th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, { action: :show, id: item } %></td>
    <td><%= item.account %></td>
    <td><%= item.status.name %></td>
    <td><%=i18n_l item.updated_at %></td>
  </tr>
  <%- end -%>
</table>

<%= will_paginate @items %>
